@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    font-size: 40px;
  }
}

.line-text {
  @apply relative text-center;
}
.line-text::before,
.line-text::after {
  @apply absolute inset-y-1/2 border-t border-black border-2 w-12;
  content: "";
}
.line-text::before {
  @apply right-full mr-2;
}
.line-text::after {
  @apply left-full ml-2;
}

.box {
  @apply relative overflow-hidden bg-white;
}

.box::before {
  content: "";
  @apply absolute top-0 right-0 bottom-[-50%] left-[-50%] bg-[#14279B] rounded-bl-2xl;
  transform: translate(100%, -100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.box::after {
  content: "";
  @apply w-11 h-10 absolute top-0 right-0 rounded-bl-full bg-[#e1f0fa];
}

.box:hover::before {
  transform: translate(0, 0);
}

.box:hover div {
  background-color: white;
}

.box:hover .textWhite {
  color: white;
}

.box:hover .textBlue {
  @apply text-[#14279B];
}
